include components/head.pug
body
  include components/signedin-nav.pug
  main
    h1 Bookings
    a(href="/new-booking") Make a new booking
    table
      thead
        tr
          th ID
          th Start Date
          th End Date
      tbody  
        each booking in bookings
          tr
            td= booking.bookingId
            td= booking.startDate
            td= booking.endDate

