include components/head.pug
body
  include components/signedin-nav.pug
  main
    h1 Your Booking Has Been Submitted
    p Some more information about your booking here, including a booking ref.
    a(href="/bookings") See all your bookings

