include components/head.pug
body
  include components/signedout-nav.pug
  main
    h1 Welcome to Library Booking
    p This is a proof-of-concept app for booking library visits.
    ul
      li: a(href="/signin") Sign In
      li: a(href="/signup") Sign Up