nav
  ul
    li: a(href="/profile") Profile
    li: a(href="/bookings") Bookings
    if user.isAdmin
      li: a(href="/admin") Admin Console
    li: a(hx-post="/signout", style="cursor: pointer") Sign Out